flows/flows.json
[{"id":"743d6506.4d2a5c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"aab196ad.c88018","type":"modbus-read","z":"743d6506.4d2a5c","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"c9648d9f.9350a8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":110,"y":80,"wires":[["c0207466.a2c47","53b929a8.0b1b3"],["b8a513aa.e90c8"]]},{"id":"c0207466.a2c47","type":"debug","z":"743d6506.4d2a5c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":20,"wires":[]},{"id":"bfef4c5e.226418","type":"modbus-flex-write","z":"743d6506.4d2a5c","name":"","showStatusActivities":false,"showErrors":false,"server":"c9648d9f.9350a8","emptyMsgOnFail":false,"keepMsgProperties":true,"x":2450,"y":580,"wires":[[],[]]},{"id":"4c11269e.191ab","type":"switch","z":"743d6506.4d2a5c","name":"switch (if not 0)","property":"payload[0]","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":100,"y":360,"wires":[["524bea64.46f3e4","84e0527e.5fb248","d3b22b97.9a5c7"]]},{"id":"bc30314f.e8dee8","type":"modbus-flex-getter","z":"743d6506.4d2a5c","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"c9648d9f.9350a8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":720,"y":80,"wires":[["1f11ecfd.c6522b"],["c3ed2930.df2fb8"]],"info":"msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 1, 'address': 1, 'quantity': 10 } \n\nreturn msg"},{"id":"1f11ecfd.c6522b","type":"debug","z":"743d6506.4d2a5c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":20,"wires":[]},{"id":"b8a513aa.e90c8","type":"function","z":"743d6506.4d2a5c","name":"Read Detection Data","func":"msg.payload = {\n    'fc': 3, \n    'unitid': 1, \n    'address': 1 , \n    'quantity': 11\n};\n \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":80,"wires":[["bc30314f.e8dee8"]]},{"id":"1810923a.4a2c96","type":"function","z":"743d6506.4d2a5c","name":"Reset Databank","func":"msg.payload = {\n    value: msg.payload,\n    'fc': 16, \n    'unitid': 1, \n    'address': 0 , \n    'quantity': 100 \n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2240,"y":580,"wires":[["bfef4c5e.226418"]]},{"id":"ba04e2ac.f8ee3","type":"ui_table","z":"743d6506.4d2a5c","group":"9d4f1ab6.7b2bc","name":"Table Test","order":0,"width":"6","height":"6","columns":[{"field":"Part","title":"Part","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Count","title":"Count","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1290,"y":80,"wires":[]},{"id":"c3ed2930.df2fb8","type":"function","z":"743d6506.4d2a5c","name":"Preparing Part Count Data","func":"msg.payload = [\n    {\n        \"Part\": 1,\n        \"Count\": msg.payload.data[0]\n    },\n    {\n        \"Part\": 2,\n        \"Count\": msg.payload.data[1]\n    },\n    {\n        \"Part\": 3,\n        \"Count\": msg.payload.data[2]\n    },\n    {\n        \"Part\": 4,\n        \"Count\": msg.payload.data[3]\n    },\n    {\n        \"Part\": 5,\n        \"Count\": msg.payload.data[4]\n    },\n    {\n        \"Part\": 6,\n        \"Count\": msg.payload.data[5]\n    },\n    {\n        \"Part\": 7,\n        \"Count\": msg.payload.data[6]\n    },\n    {\n        \"Part\": 8,\n        \"Count\": msg.payload.data[7]\n    },\n    {\n        \"Part\": 9,\n        \"Count\": msg.payload.data[8]\n    },\n    {\n        \"Part\": 10,\n        \"Count\": msg.payload.data[9]\n    },\n    {\n        \"Part\": 11,\n        \"Count\": msg.payload.data[10]\n    }\n];\n\n \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":80,"wires":[["ba04e2ac.f8ee3","2eb754c4.b0ccfc"]]},{"id":"2eb754c4.b0ccfc","type":"debug","z":"743d6506.4d2a5c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":20,"wires":[]},{"id":"d3b22b97.9a5c7","type":"ui_button","z":"743d6506.4d2a5c","name":"","group":"731fbc4f.671dec","order":0,"width":"0","height":"0","passthru":true,"label":"Next Image","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":1470,"y":700,"wires":[["883e3bab.2b4f3"]]},{"id":"883e3bab.2b4f3","type":"switch","z":"743d6506.4d2a5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1710,"y":720,"wires":[["3ce16311.d1e564","f78376f9.a040a"]]},{"id":"f78376f9.a040a","type":"join","z":"743d6506.4d2a5c","name":"join 100 values","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"100","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1980,"y":720,"wires":[["1810923a.4a2c96","d23152cc.9ff1b8","2e4f52e0.90a00e","a1b4b511.9cd84","c85e0b04.bf18d","af55e97a.a24df8","6396b3c2.b345ec","6fff32ee.aa284c","ea3bc204.6d0c88","f17c9885.03bda","d00d41f.36e74c"]]},{"id":"3ce16311.d1e564","type":"counter-loop","z":"743d6506.4d2a5c","name":"loop 1000 times","counter":"ilc513a87f33279","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"200","terminationType":"num","increment":1,"incrementType":"num","x":1720,"y":860,"wires":[[],["883e3bab.2b4f3"]]},{"id":"d23152cc.9ff1b8","type":"debug","z":"743d6506.4d2a5c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2230,"y":1000,"wires":[]},{"id":"2e4f52e0.90a00e","type":"function","z":"743d6506.4d2a5c","name":"Reset Databank","func":"msg.payload = {\n    value: msg.payload,\n    'fc': 16, \n    'unitid': 1, \n    'address': 100 , \n    'quantity': 100 \n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2240,"y":620,"wires":[["dcdf590e.f17638"]]},{"id":"a1b4b511.9cd84","type":"function","z":"743d6506.4d2a5c","name":"Reset Databank","func":"msg.payload = {\n    value: msg.payload,\n    'fc': 16, \n    'unitid': 1, \n    'address': 200 , \n    'quantity': 100 \n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2240,"y":660,"wires":[["de7f2b1c.4be868"]]},{"id":"c85e0b04.bf18d","type":"function","z":"743d6506.4d2a5c","name":"Reset Databank","func":"msg.payload = {\n    value: msg.payload,\n    'fc': 16, \n    'unitid': 1, \n    'address': 300 , \n    'quantity': 100 \n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2240,"y":700,"wires":[["7a445b69.7d7604"]]},{"id":"af55e97a.a24df8","type":"function","z":"743d6506.4d2a5c","name":"Reset Databank","func":"msg.payload = {\n    value: msg.payload,\n    'fc': 16, \n    'unitid': 1, \n    'address': 400 , \n    'quantity': 100 \n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2240,"y":740,"wires":[["159c3d6c.4d449b"]]},{"id":"6396b3c2.b345ec","type":"function","z":"743d6506.4d2a5c","name":"Reset Databank","func":"msg.payload = {\n    value: msg.payload,\n    'fc': 16, \n    'unitid': 1, \n    'address': 500 , \n    'quantity': 100 \n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2240,"y":780,"wires":[["c6b22d40.b8c038"]]},{"id":"6fff32ee.aa284c","type":"function","z":"743d6506.4d2a5c","name":"Reset Databank","func":"msg.payload = {\n    value: msg.payload,\n    'fc': 16, \n    'unitid': 1, \n    'address': 600 , \n    'quantity': 100 \n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2240,"y":820,"wires":[["8795e7b0.333448"]]},{"id":"ea3bc204.6d0c88","type":"function","z":"743d6506.4d2a5c","name":"Reset Databank","func":"msg.payload = {\n    value: msg.payload,\n    'fc': 16, \n    'unitid': 1, \n    'address': 700 , \n    'quantity': 100 \n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2240,"y":860,"wires":[["1e812804.d618c"]]},{"id":"f17c9885.03bda","type":"function","z":"743d6506.4d2a5c","name":"Reset Databank","func":"msg.payload = {\n    value: msg.payload,\n    'fc': 16, \n    'unitid': 1, \n    'address': 800 , \n    'quantity': 100 \n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2240,"y":900,"wires":[["7e4f2aec.5c2f54"]]},{"id":"d00d41f.36e74c","type":"function","z":"743d6506.4d2a5c","name":"Reset Databank","func":"msg.payload = {\n    value: msg.payload,\n    'fc': 16, \n    'unitid': 1, \n    'address': 900 , \n    'quantity': 100 \n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2240,"y":940,"wires":[["59c159d2.c173"]]},{"id":"dcdf590e.f17638","type":"modbus-flex-write","z":"743d6506.4d2a5c","name":"","showStatusActivities":false,"showErrors":false,"server":"c9648d9f.9350a8","emptyMsgOnFail":false,"keepMsgProperties":true,"x":2450,"y":620,"wires":[[],[]]},{"id":"de7f2b1c.4be868","type":"modbus-flex-write","z":"743d6506.4d2a5c","name":"","showStatusActivities":false,"showErrors":false,"server":"c9648d9f.9350a8","emptyMsgOnFail":false,"keepMsgProperties":true,"x":2450,"y":660,"wires":[[],[]]},{"id":"7a445b69.7d7604","type":"modbus-flex-write","z":"743d6506.4d2a5c","name":"","showStatusActivities":false,"showErrors":false,"server":"c9648d9f.9350a8","emptyMsgOnFail":false,"keepMsgProperties":true,"x":2450,"y":700,"wires":[[],[]]},{"id":"159c3d6c.4d449b","type":"modbus-flex-write","z":"743d6506.4d2a5c","name":"","showStatusActivities":false,"showErrors":false,"server":"c9648d9f.9350a8","emptyMsgOnFail":false,"keepMsgProperties":true,"x":2450,"y":740,"wires":[[],[]]},{"id":"c6b22d40.b8c038","type":"modbus-flex-write","z":"743d6506.4d2a5c","name":"","showStatusActivities":false,"showErrors":false,"server":"c9648d9f.9350a8","emptyMsgOnFail":false,"keepMsgProperties":true,"x":2450,"y":780,"wires":[[],[]]},{"id":"8795e7b0.333448","type":"modbus-flex-write","z":"743d6506.4d2a5c","name":"","showStatusActivities":false,"showErrors":false,"server":"c9648d9f.9350a8","emptyMsgOnFail":false,"keepMsgProperties":true,"x":2450,"y":820,"wires":[[],[]]},{"id":"1e812804.d618c","type":"modbus-flex-write","z":"743d6506.4d2a5c","name":"","showStatusActivities":false,"showErrors":false,"server":"c9648d9f.9350a8","emptyMsgOnFail":false,"keepMsgProperties":true,"x":2450,"y":860,"wires":[[],[]]},{"id":"7e4f2aec.5c2f54","type":"modbus-flex-write","z":"743d6506.4d2a5c","name":"","showStatusActivities":false,"showErrors":false,"server":"c9648d9f.9350a8","emptyMsgOnFail":false,"keepMsgProperties":true,"x":2450,"y":900,"wires":[[],[]]},{"id":"59c159d2.c173","type":"modbus-flex-write","z":"743d6506.4d2a5c","name":"","showStatusActivities":false,"showErrors":false,"server":"c9648d9f.9350a8","emptyMsgOnFail":false,"keepMsgProperties":true,"x":2450,"y":940,"wires":[[],[]]},{"id":"524bea64.46f3e4","type":"function","z":"743d6506.4d2a5c","name":"Read Detection Data","func":"var reg = 20;\nvar i = 0;\n\nwhile(reg<300){\n        \n    msg.payload = {\n        'fc': 3, \n        'unitid': 1, \n        'address': reg, \n        'quantity': 4\n    };\n    \n    reg += 10;\n    i += 10;\n    node.send(msg);\n\n}\n\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":240,"wires":[["f5080a79.0bb6a8"]]},{"id":"f5080a79.0bb6a8","type":"modbus-flex-getter","z":"743d6506.4d2a5c","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"c9648d9f.9350a8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":540,"y":240,"wires":[["8aaefbee.928f58","ac892663.95763"],[]],"info":"msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 1, 'address': 1, 'quantity': 10 } \n\nreturn msg"},{"id":"53b929a8.0b1b3","type":"rbe","z":"743d6506.4d2a5c","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":90,"y":240,"wires":[["4c11269e.191ab","89e93029.4ed1f"]]},{"id":"89e93029.4ed1f","type":"debug","z":"743d6506.4d2a5c","name":"0 reg change","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":300,"wires":[]},{"id":"8aaefbee.928f58","type":"function","z":"743d6506.4d2a5c","name":"","func":"if (msg.payload[0]==0){\n    msg.payload = 0\n\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":240,"wires":[["13712a30.7ac85e"]]},{"id":"13712a30.7ac85e","type":"switch","z":"743d6506.4d2a5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":240,"wires":[["7cb9aece.532698","5e46abb1.b3f914","e0dbd39c.f36568"]]},{"id":"7cb9aece.532698","type":"debug","z":"743d6506.4d2a5c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":160,"wires":[]},{"id":"41e4d7fb.e8e948","type":"file","z":"743d6506.4d2a5c","name":"Write to file","filename":"datafile.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"utf8","x":1290,"y":240,"wires":[["ef35049f.d6edb"]]},{"id":"5e46abb1.b3f914","type":"function","z":"743d6506.4d2a5c","name":"","func":"// msg.payload = {\n//     \"partnumber\" : msg.payload[0],\n//     \"pickpoint\" : [msg.payload[1], msg.payload[2]],\n//     \"orientation\" : msg.payload[3]\n// }\nmsg.payload = msg.payload[0]+\",\"+msg.payload[1]+\",\"+ msg.payload[2]+\",\"+msg.payload[3];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":240,"wires":[["41e4d7fb.e8e948"]]},{"id":"28a8f8af.1890b8","type":"switch","z":"743d6506.4d2a5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"timeout","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1250,"y":700,"wires":[["221ee86f.a872f"]]},{"id":"221ee86f.a872f","type":"debug","z":"743d6506.4d2a5c","name":"timeout","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1460,"y":600,"wires":[]},{"id":"e0dbd39c.f36568","type":"timeouttrigger","z":"743d6506.4d2a5c","ontimeouttype":"str","ontimeoutval":"timeout","duration":"5","units":"s","name":"","x":1090,"y":700,"wires":[["28a8f8af.1890b8"]]},{"id":"6d9a4ff.b8fc83","type":"switch","z":"743d6506.4d2a5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"timeout","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":420,"wires":[[]]},{"id":"5421167f.d44f7","type":"file","z":"743d6506.4d2a5c","name":"Clear data file","filename":"datafile.csv","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1980,"y":600,"wires":[[]]},{"id":"cb07a714.69c888","type":"function","z":"743d6506.4d2a5c","name":"","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1720,"y":600,"wires":[["5421167f.d44f7"]]},{"id":"374199e5.23e41e","type":"csv","z":"743d6506.4d2a5c","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"Part Number,PickPointX,PickPointY,Orientation","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1770,"y":320,"wires":[["a3dd0c8d.2da4a","a51121e4.590b08"]]},{"id":"ef35049f.d6edb","type":"file in","z":"743d6506.4d2a5c","name":"Read Data File","filename":"datafile.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1580,"y":320,"wires":[["374199e5.23e41e"]]},{"id":"a51121e4.590b08","type":"ui_table","z":"743d6506.4d2a5c","group":"43e0804c.568bf","name":"Item Data","order":0,"width":"10","height":"8","columns":[{"field":"Part Number","title":"Part Number","width":"25%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"PickPointX","title":"Pick Point X","width":"25%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"PickPointY","title":"Pick Point Y","width":"25%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Orientation","title":"Orientation Number","width":"25%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1980,"y":320,"wires":[]},{"id":"a3dd0c8d.2da4a","type":"debug","z":"743d6506.4d2a5c","name":"file read","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1980,"y":260,"wires":[]},{"id":"def70ec.3236c7","type":"watch","z":"743d6506.4d2a5c","name":"Watch data file","files":"datafile.csv","recursive":"","x":1280,"y":320,"wires":[[]]},{"id":"26e6e3a0.6665c4","type":"file","z":"743d6506.4d2a5c","name":"Clear data file","filename":"datafile.csv","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1280,"y":380,"wires":[[]]},{"id":"84e0527e.5fb248","type":"function","z":"743d6506.4d2a5c","name":"","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":380,"wires":[["26e6e3a0.6665c4"]]},{"id":"ac892663.95763","type":"debug","z":"743d6506.4d2a5c","name":"Modbus data read","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":180,"wires":[]},{"id":"c9648d9f.9350a8","type":"modbus-client","name":"Modbus Red One","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"localhost","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"9d4f1ab6.7b2bc","type":"ui_group","name":"Count","tab":"2611d4af.ee017c","order":1,"disp":true,"width":"6","collapse":false},{"id":"731fbc4f.671dec","type":"ui_group","name":"Controls","tab":"2611d4af.ee017c","order":2,"disp":true,"width":"6","collapse":false},{"id":"43e0804c.568bf","type":"ui_group","name":"Item Detection Data","tab":"2611d4af.ee017c","order":3,"disp":true,"width":"10","collapse":false},{"id":"2611d4af.ee017c","type":"ui_tab","name":"Dashboard","icon":"dashboard","disabled":false,"hidden":false}]